 <div class="field">
   <%= reward.label :name %>     
   <%= reward.text_field :name, placeholder: "Enter reward's name" %>    
 </div>

 <div class="field">
   <%= reward.label :description %>
   <%= reward.text_area :description, placeholder: "Describe what donors will get with this reward." %>      
 </div>

 <div class="field">
   <%= reward.label :pledge_requirement %>
   $<%= reward.number_field :pledge_requirement, placeholder: "Enter the amount required to avail this reward." %>

   <div class="reward-strikethru">
     <div class="line"></div>
   </div>
 </div>