<div class="form-container">
 
<h2 class="user">Create A New Project</h2>

<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <h3 class="field_error">Oops! Errors found.</h3>
  <% end %>

  <%= f.hidden_field :published, :value => false %>

  <%= render partial: 'form', locals: { :f => f } %>

  <div class="field">
    <%= f.label "And/or Create a New Category"%>
    <%= f.text_field :categories, placeholder: "Enter a name for your new category", value: "" %>
  </div>

  <%= f.submit "Next" %>

<% end %>

</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>