<div class="wrapper">
<div class="row">
    <a href="#" class="prevLink" data-id="<%=@project.id%>" >Previous Project</a></h3>
    <a href="#" class="nextLink" data-id="<%=@project.id%>" >Next Project</a>
</div>
<div class="row">
	<div class="col-md-4 maker">
		<h4>By <%= @project.user.username %></h4>	
		<!-- <%= image_tag gravatar_url(current_user, 64), alt: "Profile picture" %> -->
		<%= image_tag gravatar_url(@project.user, 64), alt: "Profile picture" %>
	</div>

	<div class="col-md-7 maker">
        <%= tag.h1 @project.name, :data => {:user_id => @project.id} %>
		
		<p><%= @project.tagline %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
    	<div class="card">
        	<ul class="nav nav-tabs" role="tablist">
            	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Campaign</a></li>
            	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">FAQ</a></li>
            	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Updates</a></li>
            	<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Comments</a></li>
        	</ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                	<h2>About</h2>
                	<%= @project.about.html_safe %>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
 					<%= @project.faq.html_safe %>        	
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                	<% @project.updates.each do |update| %>
						<%= update.content %>
					<% end %>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">

					<% if current_user %>
						<%= form_for @comment do |f| %>
  							<%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
  							<%= f.hidden_field :commentable_id, :value => "#{@project.id}" %>

    						<%= f.text_area :content, cols: 30, rows: 5, placeholder: "Comment on this project." %>

  							<%= f.submit "Submit Comment" %>
						<% end %>
						<br>
                        <% else %>
                            <p><%= link_to("Log in", new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to comment on this project!</p>
                            <br>
					<% end %>
                    <div class="c-section">
					<% @project.comments.each do |comment| %>
						<h4><%= image_tag gravatar_url(comment.user, 32), alt: "Profile picture" %> By <%= comment.user.username %></h4> 
						<p><%= comment.content %></p>
                        <%= link_to 'Delete', comment_path(comment.id), data: {:confirm => "Are you sure?"}, :method => :delete if current_user && comment.user_id == current_user.id %>						
					<% end %>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <div class="col-md-3">
        <% if current_user && days_to_go(@project) > 0 && !funded?(@project) && !@project.backers.include?(current_user) %>
    	   <h2 class="message">Choose a reward tier below!</h2>
        <% elsif @project.backers.include?(current_user) %>
            <h2 class="message">Thanks for backing the project!</h2>
        <% elsif current_user %>
            <p></p>
        <% else %>
            <h4><%= link_to "Log in to support this!", new_user_session_path %></h4>
        <% end %>
		<div class="progress">
        	<div class="progress-bar project" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%"><span class="percentage"><%=(@project.funds.to_f / @project.goal.to_f * 100).to_i %>%</span></div>
        </div>
        <h3>$ <p style="display:inline;" class="funds"><%= @project.funds %></p></h3>
        <p>pledged out of $ <%= @project.goal %> total</p>
        <h3 class="backers"><%= @project.backers.length %></h3>
        <p>backers</p>
        <% if days_to_go(@project) < 0 %>
            <h3>Funding period ended.</h3>
        <% else %>
		  <h3><%= days_to_go(@project) %></h3>
          <p>days to go</p>
        <% end %>
        <div class="reward_section">
        <% if !@project.backers.include?(current_user) %>
   		   <% @project.rewards.each do |reward| %>
   			  <div class="card">
 				   <h3><%= reward.name %></h3> 	
 				   <p>$ <%= reward.pledge_requirement %></p>	
 				   <p><%= reward.description %></p>
                    <h4><%= reward.users.length %> claimed</h4>	
 				   <%= link_to "DONATE", "#", :class => "btn blue new", :data => {:amount => reward.pledge_requirement, :reward_id => reward.id, :number_claimed => reward.number_claimed, :project_id => reward.project.id } %>	                	
   			  </div>
    	   <% end %>
        <% else %>
            <h4>Your Donation Status</h4>
            <div class="rewards">
                <div class="progress-bar donation-status" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%"><span class="donation-percentage"><%= ( ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed == nil ? 25 : (ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed).to_f / 4.to_f * 100 ).to_i %>%</span></div>
            </div>
            <% if ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed != nil && ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed == 4 %>
                The project has received all of your donations!
            <% elsif (@project.funds) / (@project.goal) == 1 %>
                <%= link_to "SEND NEXT INSTALLMENT", "#", :class => "btn blue nextInstallment", :data => {:contract =>ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).contract || current_user.tx_hash } %>
            <% else %>
                <p>Thanks for backing! Project opens when the funding period ends!</p> 
            <% end %>
        <% end %> 
        </div>		
    </div>
</div>


</div>

<script>
    <% if ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id) == nil %> 
         function updateTimesBacked() {
            console.log("Nothing to back");
        }   
    <% elsif ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed == nil %>
        function updateTimesBacked() {
            $.ajax({
                url: '/projects/' + <%= @project.id %> + '/project_backers/' + <%= ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).id %>,
                dataType: 'json',
                type: 'PATCH',
                data: {
                    project_backer: {times_backed: <%= ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed == nil ? 2 : ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed += 1 %>} 
                },
                    success: function(data) {
                    $('div.rewards').html(`<div class="progress-bar donation-status" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: ${data.times_backed / 4 * 100}%"><span class="donation-percentage">${data.times_backed / 4 * 100}%</span></div>`).after('<p>Thanks! Additional funds can be sent when the project reaches its next progress checkpoint! Look out for the next update!</p>')
                    $('.nextInstallment').remove();                      
                    console.log("Times backed updated!");
                },
                    failure: function() {
                    alert("Unsuccessful");
                }
            });
        }
    <% elsif ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed >= 1 %>
        function updateTimesBacked() {
            $.ajax({
                url: '/projects/' + <%= @project.id %> + '/project_backers/' + <%= ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).id %>,
                dataType: 'json',
                type: 'PATCH',
                data: {
                    project_backer: {times_backed: <%= ProjectBacker.find_by(project_id: @project.id, user_id: current_user.id).times_backed += 1 %> } 
                },
                    success: function(data) {
                    if (data.times_backed === 4) {
                        $('div.rewards').html(`<div class="progress-bar donation-status" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: ${data.times_backed / 4 * 100}%"><span class="donation-percentage">${data.times_backed / 4 * 100}%</span></div>`).after('The project has received all of your donations!');
                        $('.nextInstallment').remove();
                    } else {
                        $('div.rewards').html(`<div class="progress-bar donation-status" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: ${data.times_backed / 4 * 100}%"><span class="donation-percentage">${data.times_backed / 4 * 100}%</span></div>`).after('<p>Thanks! Additional funds can be sent when the project reaches its next progress checkpoint! Look out for the next update!</p>');
                    $('.nextInstallment').remove();                      
                    }                                         
                    console.log("Times backed updated +1!");
                },
                    failure: function() {
                    alert("Unsuccessful");
                }
            });
        }
    <% end %>
</script>

<script id="reward-template" type="text/x-handlebars-template">
    <h4>Your Donation Status</h4>
    <div class="rewards">
        <div class="progress-bar donation-status" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 25%"><span class="donation-percentage">25%</span></div>
    </div>
        <p>Thanks for backing! A portion of your donation has been sent to the project! Additional funds can be sent when the project reaches its next progress checkpoint. Stay tuned for the first update!</p>
</script>

<!-- ================ -->
<script id="project-show-template" type="text/x-handlebars-template">
<div class="row">
    <a href="#" class="prevLink" data-id="{{this.id}}" >Previous Project</a></h3>
    <a href="#" class="nextLink" data-id="{{this.id}}" >Next Project</a>
</div>
<div class="row">
    <div class="col-md-4 maker">
        <h4>By {{this.user.username}}</h4>   
        <!-- <%= image_tag gravatar_url(current_user, 64), alt: "Profile picture" %> -->
        <img src="{{this.user.gravatar_url}}" alt="User Gravatar">
    </div>

    <div class="col-md-7 maker">
        <h1>{{this.name}}</h1>
        
        <p>{{this.tagline}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Campaign</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">FAQ</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Updates</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Comments</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <h2>About</h2>
                    <%= @project.about.html_safe %>
                    {{{this.about}}}
                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
                    {{{this.faq}}}           
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    {{#each updates}}
                        {{{this.content}}}
                    {{/each}}
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">

                    <% if current_user %>
                        <form class="new_comment" id="new_comment" action="/comments" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <input type="hidden" name="authenticity_token" value="{{getToken finished}}">
                            <input value="{{currentUser finished}}" type="hidden" name="comment[user_id]" id="comment_user_id">
                            <input value="{{this.id}}" type="hidden" name="comment[commentable_id]" id="comment_commentable_id">
                            <textarea cols="30" rows="5" placeholder="Comment on this project." name="comment[content]" id="comment_content"></textarea>
                            <input type="submit" name="commit" value="Submit Comment" data-disable-with="Submit Comment">
                        </form>
                        <br>
                        <% else %>
                            <p><%= link_to("Log in", new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to comment on this project!</p>
                            <br>
                    <% end %>
                    <div class="c-section">
                    {{#each comments}}
                        <h4>
                            <img src="{{this.user.gravatar_url}}" alt="User Gravatar">
                            By {{this.user.username}}
                        </h4> 
                        <p>{{this.content}}</p>
                        {{#if_eq_id this.user_id}}
                            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/comments/{{this.id}}">Delete</a>
                        {{/if_eq_id}} 
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div> 
</script>


<script id="comment-section-template" type="text/x-handlebars-template">
        <h4>
            <img src="{{this.user.gravatar_url}}" alt="User Gravatar">
            By {{this.user.username}}
        </h4> 
        <p>{{this.content}}</p>

        {{#if_eq_id this.user_id}}
            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/comments/{{this.id}}">Delete</a>
        {{/if_eq_id}} 
</script>