<div class="wrapper">

<div class="row">
	<div class="col-md-4 maker">
		<h4>By <%= @project.user.username %></h4>	
		<!-- <%= image_tag gravatar_url(current_user, 64), alt: "Profile picture" %> -->
		<%= image_tag gravatar_url(@project.user, 64), alt: "Profile picture" %>
	</div>

	<div class="col-md-7 maker">
		<h1><%= @project.name %></h1>
		<p><%= @project.tagline %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
    	<div class="card">
        	<ul class="nav nav-tabs" role="tablist">
            	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Campaign</a></li>
            	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">FAQ</a></li>
            	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Updates</a></li>
            	<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Comments</a></li>
        	</ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                	<h2>About</h2>
                	<%= @project.about.html_safe %>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
 					<%= @project.faq.html_safe %>        	
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                	<% @project.updates.each do |update| %>
						<%= update.content %>
					<% end %>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">

					<% if current_user %>
						<%= form_for @comment do |f| %>
  							<%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
  							<%= f.hidden_field :commentable_id, :value => "#{@project.id}" %>

    						<%= f.text_area :content, cols: 30, rows: 5, placeholder: "Comment on this project." %>

  							<%= f.submit "Submit Comment" %>
						<% end %>
						<br>
                        <% else %>
                            <p><%= link_to("Log in", new_user_session_path) %> or <%= link_to("sign up", new_user_registration_path) %> to comment on this project!</p>
                            <br>
					<% end %>

					<% @project.comments.each do |comment| %>
						<h4><%= image_tag gravatar_url(comment.user, 32), alt: "Profile picture" %> By <%= comment.user.username %></h4> 
						<p><%= comment.content %></p>
                        <%= link_to 'Delete', comment_path(comment.id), data: {:confirm => "Are you sure?"}, :method => :delete if current_user && comment.user_id == current_user.id %>						
					<% end %>
                </div>
            </div>
		</div>
    </div>
    <div class="col-md-3">
        <% if current_user && days_to_go(@project) > 0 && !funded?(@project) && !@project.backers.include?(current_user) %>
    	   <h2>Choose a reward tier below!</h2>
        <% elsif @project.backers.include?(current_user) %>
            <h2>Thanks for backing the project!</h2>
        <% elsif current_user %>
            <p></p>
        <% else %>
            <h4><%= link_to "Log in to support this!", new_user_session_path %></h4>
        <% end %>
		<div class="progress">
        	<div class="progress-bar project" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">70% funded</div>
        </div>
        <h3>$ <p style="display:inline;" class="funds"><%= @project.funds %></p></h3>
        <p>pledged out of $ <%= @project.goal %> total</p>
        <h3><%= @project.backers.length %></h3>
        <p>backers</p>
        <% if days_to_go(@project) < 0 %>
            <h3>Funding period ended.</h3>
        <% else %>
		  <h3><%= days_to_go(@project) %></h3>
          <p>days to go</p>
        <% end %>
   		<% @project.rewards.each do |reward| %>
   			<div class="card">
 				<h3><%= reward.name %></h3> 	
 				<p>$ <%= reward.pledge_requirement %></p>	
 				<p><%= reward.description %></p>
                <h4><%= reward.number_claimed == nil ? 0 : reward.number_claimed %> claimed</h4>	
 				<%= link_to "DONATE", "#", :class => "btn blue", :data => {:amount => reward.pledge_requirement, :reward_id => reward.id, :number_claimed => reward.number_claimed, :project_id => reward.project.id } %>	                	
   			</div>
    	<% end %> 		
    </div>
</div>


</div>
