<div class="projects">
  <h2 class="project_title">Your Projects</h2>
  <div id="sort-button">
    <a class="btn blue">SORT BY MOST FUNDED</a>
    <a class="btn blue">SORT BY MOST POPULAR</a>    
  </div>
  <div class="row">
  <% @started_projects.all.each do |project| %>

    <% if project.published == true %>
    
      <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="column">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
            <img src="https://placeimg.com/640/480/tech">
          </div>
          <!-- Project Content-->
          <div class="post-content">
            <div class="category">
              <% if !!project.categories %>
                <% project.categories.each do |category| %>
                  <p><%= category.name %></p>
                <% end %>
              <% else %>
                <p>Unclassified</p>
              <% end %>
            </div>
            <h1 class="title"><%= project.name %></h1>
            <h2 class="sub_title">By You</h2>
            <div class="progress">
              <div class="progress-bar project" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">70% funded</div>
            </div>
            <p class="description"><%= project.about %></p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> <%= (project.deadline - project.created_at.to_date).to_i %> days left </span><%= link_to "EDIT", edit_project_path(project), :class => "btn blue" %></div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
  <% end %>
  </div>
</div>