<!DOCTYPE html>
<html>
  <head>
    <title>ThingFunder.com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
  	<div class="container">
  		<div class="row">

  			<div class="col-sm-12 col-md-4 col-lg-4">
  				<%if current_user %> 

					<nav><%= link_to('Home ', root_path)%><%= link_to('| Your Projects ', user_projects_path(current_user))%><%= link_to('| Create Project ', new_project_path)%><%= link_to('| Logout', destroy_user_session_path, method: :delete) %></nav>  
				<% else %>
					<nav><a href="/">Home</a> <%= link_to("| Login", new_user_session_path) %> <%= link_to("| Sign Up", new_user_registration_path) %></nav>
				<% end %>	
  			</div>

  			<div class="col-sm-12 col-md-4 col-lg-4">
   				<%= image_tag("/thingfunder.png", size:'431x50', :class => "center-block") %> 		
  			</div>

  			<div class="col-sm-12 col-md-4 col-lg-4">

  				<form action="/" name="search" method="get">
  					<label class="search-box">
    				 <%= text_field_tag :search, params[:search] %>
    				<span></span>
  					</label> 
				</form>
  			</div>
  		</div>
  	</div>

    <%= flash_messages %>

    <%= yield %>
  </body>
</html>
